@import 'base/base';
@import 'base/variables';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1;
    color: $black-color;
    font-weight: 400;
}

.container {
    max-width: 1340px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    border: 1px solid $black-color;
}

.header {
    padding-top: 25px;
}


.header__inner {
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    text-transform: uppercase;
}

.logo span {
    display: inline-block;
    transform: rotate(332.36deg);
    margin: 0 3px 0 5px;
}


.burger {
    display: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__close {
    display: none;
}





.menu__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    list-style: none;

}

.menu__link:hover {
    color: $yellow-color;
}

.header__discount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.header__discount-text {
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: $red-color;
}

.header__discount-circle {
    position: relative;
    display: inline-block;
}

.header__discount-circle img {
    display: block;
    width: 100%;
    height: auto;
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(90deg);
    transform: rotate(90deg);
    color: $white-color;
    font-size: 22px;
    font-weight: 900;
}

.header__discount-circle img:nth-of-type(2) {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 45px;
    left: 45px;
}

.header__discount-circle .circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(323deg);
    z-index: 2;
    color: $white-color;
}

.main .top .container {
    border: none;
}

.top {
    padding: 25px 0;
    position: relative;
}

.top__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    overflow: hidden;
    max-width: 100%;
}

.left-block {
    position: relative;
}

.promo-img {
    display: none;
}

.left-block,
.right-block {
    border: 1px solid $black-color;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
}


.top__inner-text {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top__inner_text_head {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

.top__inner-text-question {
    font-weight: 500;
    font-size: 24px;
    z-index: 10;
}

.top__inner-text-description {
    font-size: 15px;
    z-index: 10;
}

.course-section {
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

.course-info {
    display: flex;
    justify-content: space-evenly;
    background: $green-color;
    color: $white-color;
    padding: 15px 20px;
    margin-bottom: 24px;
}

.price-block,
.timer-block {
    padding-top: 9px;
    padding-bottom: 11px;
}

.price-block .label,
.timer-block .label {
    padding-bottom: 15px;
}

.price strong,
.timer strong {
    font-weight: 700;
    font-size: 25px;
}

.price .old-price {
    text-decoration: line-through;
}

.course-section .header__discount-circle {
    display: none;
}



.register-btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    border: none;
    background-color: $yellow-color;
    color: $white-color;
    cursor: pointer;
    transition: all 0.3s ease;

}

.register-btn:hover {
    border: 1px solid $yellow-color;
    background-color: $white-color;
    color: $yellow-color;
    scale: (1.1);
}

.note {
    padding-top: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.note::after {
    content: url('../images/top-vector.png');
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}

.right-block {
    background-color: $green-color;
}

.block__gallery {
    width: 100%;
    padding: 60px 0;
}

.swiper__inner {
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;
    width: 265px !important;
    height: 451px !important;
}

.swiper__inner img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.swiper__inner .swiper-slide-prev,
.swiper__inner .swiper-slide-next {
    width: 196px !important;
    height: 294px !important;
}

.swiper-pagination-one {
    text-align: center;
    padding-top: 30px;
}

.swiper-pagination-one .swiper-pagination-bullet {
    background-color: $white-color;

}

.swiper-pagination-one .swiper-pagination-bullet-active {
    background-color: $red-color;
}

.about {
    padding: 25px 0;
}

.about__inner {
    margin: 40px 65px;
}

.title {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 55px;
}

.about__inner-steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px
}

.steps-list {
    padding: 10px;
    width: 363px;
    max-width: 100%;


}

.steps-list img {
    padding-bottom: 20px;
}

.item-title {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}

.cludes__inner {
    margin: 40px 65px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 46px;
}

.cludes__inner-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px;
}

.cludes-list {
    width: 367px;
    height: 75px;
    display: flex;
    border: 1px solid $black-color;
    border-radius: 25px;
    align-items: center;
    padding: 18px 30px;
    gap: 15px;
}

.cludes-list img:nth-of-type(1) {
    width: 40px;
    height: 40px;
}

.cludes-list:nth-of-type(2) img {
    width: 40px;
    height: 40px;
}

.cludes-list:nth-of-type(3) img {
    width: 35px;
    height: 35px;
}

.cludes-list:nth-of-type(4) img {
    width: 32px;
    height: 32px;
}

.cludes-list:nth-of-type(5) img {
    width: 34px;
    height: 34px;
}

.cludes-list:nth-of-type(6) img {
    width: 29px !important;
    height: 29px !important;
}

.cludes-list-description {
    font-weight: 700;
}

.course {
    padding: 25px 0;
    position: relative;
}

.course .container {
    border: none;
    border-radius: 25px;
    background-color: $green-color;
}

.course .course-info {
    background: none;
    margin-bottom: 0 !important;
    gap: 75px
}

.course .course-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.course .note {
    padding-top: 0;
    padding-right: 74px;
    text-align: right;
    color: $white-color;
    position: relative;
    bottom: 17px;
    left: -5px;
}

.course .note::after {
    content: url(../images/vector-white.png);
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
}

.program {
    position: relative;
}

.program__inner {
    margin: 40px 65px;
}

.program__item {
    display: flex;
    border-bottom: 1px solid $black-color;
    padding: 35px 0;
}

.program__item:last-child {
    padding: 35px 0 0;
    border-bottom: none;
}

.program__item-day {
    font-weight: 700;
    font-size: 25px;
    white-space: nowrap;
    cursor: pointer;
}
.toggle-icon{
    display: none;
}

.program__item-steps {
    // font-size: 500px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 40px;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: none;
    
}

.program__item-steps li::before {
    content: '•';
    color: black;
    margin-right: 8px;
}

.feedback {
    padding: 25px 0;
}

.feedback__inner {
    padding: 40px 65px;
}

.feedback .container {
    background-color: $green-color;
    border: none;
}

.feedback .title {
    color: $white-color;
}

.swiper-pagination-two {
    text-align: center;
    padding-top: 30px;
}

.swiper-pagination-two .swiper-pagination-bullet {
    background-color: $white-color;

}

.swiper-pagination-two .swiper-pagination-bullet-active {
    background-color: $red-color;
}

.footer {
    padding-bottom: 25px;
}


.footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 65px;

}
.footer .header__logo{
    white-space: nowrap;
}

.footer .menu__item {
    font-weight: 500;
}

.footer__politic,
.footer__contact {
    font-weight: 500;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-list {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-list {
    display: flex;
    gap: 8px;
}




@media (max-width:1399.98px) {
    .about__inner-steps {
        gap: 20px;
    }
    .steps-list {
        width: 300px;
        max-width: 100%;
    }
    .item-title {
        white-space: normal;
    }
    .swiper__inner-two{
        width: 340px !important ;
    }
    .swiper__inner-two img{
        width: 100% !important;
    }
}

@media (max-width:1199.98px) {
    .about__inner-steps {
        gap: 20px;
    }
    .footer .menu{
        display: none;
    }
}

@media (max-width:1079.98px) {
    .top__inner-text-head {
        font-size: 30px;
        z-index: 10;
    }

    .top__inner-text {
        margin: 30px;
    }

    .top__inner-text-question {
        font-size: 22px;
    }

    .register-btn {
        font-size: 18px;
        width: 400px;
    }

    .course-info {
        padding: 0 20px;
    }
    .program__inner {
        margin: 30px 30px;
    }

    .price strong,
    .timer strong {
        font-size: 22px;
    }

    .block__gallery {
        width: 100%;
        padding: 20px 0;
    }

    .about__inner {
        margin: 30px 30px;
    }

    .title {
        font-size: 35px;
    }

    .item-description {
        font-size: 15px;
    }

    .cludes-list {
        width: 300px;
    }

    .cludes__inner {
        margin: 30px 30px
    }

    .course .note::after {
        display: none;
    }

    .course .note {
        padding-top: 0;
        bottom: 10px;
    }
    .footer__inner{
        margin: 30px;
    }
}

@media (max-width: 991.98px) {
    .header__discount {
        display: none;
    }

    .right-block {
        display: none;
    }

    .top__inner {
        display: grid;
        grid-template-columns: 1fr;

    }

    .left-block {
        background-color: $green-color;
        color: $white-color;
    }

    .top {
        padding: 10px 0;
    }




    .top__inner-text-head {
        text-align: center;

    }

    .course-info {
        background-color: $white-color;
        color: $red-color;
    }

    .note::after {
        display: none;
    }

    .top .container {
        border: none;
    }

    .left-block {
        border: none;
    }

    .about {
        padding: 10px 0;
    }

    .about__inner-steps {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .title {
        font-size: 30px;
        padding-bottom: 30px;
        text-align: center;
    }

    .steps-list {
        width: 100% !important;
        max-width: 100% !important;
    }

    .cludes__inner-list {
        gap: 15px;
    }

    .cludes-list {
        width: 259px;
    }

    .course .note {
        padding-right: 8px;
        left: -33px;
        font-size: 14px;
    }

    .course .course-info {
        color: $white-color;
        gap: 25px;
    }

    .course .register-btn {
        width: 360px;
    }
    .program__item-day{
        font-size: 20px;
    }
    .program__item-steps{
        font-size: 18px;
    }

    .program__inner .title{
        padding-bottom: 0;
    }
    .program__item {
        padding: 17px 0;
    }
}

@media (max-width:837.98px) {
    .course .note {
        left: -3px;
        bottom: 5px;
    }
    .course .price strong, 
    .course .timer strong {
        font-size: 19px;
    }
    .course .price-block .label, 
    .course .timer-block .label {
        padding-bottom: 7px;
    }

}

@media (max-width:767.98px) {

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        position: absolute;
        top: 29px;
        right: 20px;
        z-index: 1001;
        cursor: pointer;
    }

    .burger span {
        height: 4px;
        background-color: #333;
        border-radius: 2px;
    }

    .menu {
        position: fixed;
        top: 24px;
        right: -100%;
        width: 340px;
        height: 360px;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
        display: flex;
        border: 1px solid black;
        border-radius: 25px;

    }

    .menu.active {
        right: 0;
    }

    .menu__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .menu__close {
        display: block;
        position: absolute;
        top: 3px;
        right: 50px;
        background: none;
        border: none;
        font-size: 47px;
        cursor: pointer;
    }

    .cludes-list img {
        display: none;
    }

    .cludes__inner {
        margin: 40px 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .cludes__inner-list {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .cludes-list {
        width: 267px;
        height: 55px;
        display: flex;
        align-items: center;
        padding: 10px 10px;
        gap: 15px;
        text-align: center;
    }

    .course .course-section{
        flex-direction: column;

    }
    .course .note {
        left: 0;
        bottom: 0;
        text-align: center
    }
    .course .register-btn {
        width: 400px;
    }

    .program__item{
        flex-direction: column;
    }
    .program__item-day span{
        display: none;
    }
    .program__item-steps {
        max-height: 0;
        overflow: hidden;
      }
    
      .program__item.active .program__item-steps {
        max-height: 500px; /* или auto, если через JS */
      }
      .program__item-day {
        // display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
      }
      
      .toggle-icon {
        display: block;
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
        color: #333;
        position: relative;
      }
      
      .toggle-icon::before {
        content: "+";
      }
      
      /* Когда родитель активный, меняем символ */
      .program__item.active .toggle-icon::before {
        content: "−";
      }

.footer__inner{
    flex-direction: column;
    align-items: center;}
    .footer__politic{
        padding: 10px 0;
    }

    .contact-list{
        align-items: center;
        gap: 5px;
    } 
    .social-list {
        justify-content: center;
    }    
    .contacts{
        gap: 10px;
    }
}

@media (max-width: 649.98px) {
    .top__inner-text-head {
        font-size: 27px;
    }

    .top__inner-text-question {
        font-size: 20px;
    }

    .top__inner-text-description {
        font-size: 14px;
    }

    .register-btn {
        font-size: 17px;
    }

    .note {
        padding-top: 10px;
    }

    .promo-img {
        display: block;
        position: absolute;
        width: 100px;
        height: auto;
        opacity: 0.5;
        z-index: 1;
    }

    .promo-img--left {
        border-radius: 25px;
        width: 148px;
        height: 253px;
        top: -46px;
        left: -44px;
        transform: rotate(45deg);

    }

    .promo-img--right {
        border-radius: 25px;
        width: 153px;
        height: 230px;
        bottom: 168px;
        right: -101px;
        transform: rotate(310deg);
    }

    .promo-content {
        position: relative;
        z-index: 2;
    }

    .title {
        font-size: 27px;
        padding-bottom: 14px;
        text-align: center;
    }

    .steps-list {
        padding: 10px 0;
    }

    .steps-list img {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .program__item-day {
        font-size: 18px;
    }
    .program__item-steps li{
        font-size: 14px;
    }
    .program__item {
        padding: 9px 0;
    }
    .program__item:last-child {
        padding: 10px 0 0;
        border-bottom: 1px solid $black-color;    }
        .footer__politic,
        .own,
        .contacts
        {
            font-size: 15px;
        }
        .contacts{
            gap: 10px;
        }
}

@media (max-width: 449.98px) {
    .top__inner-text-head {
        font-size: 24px;
    }

    .top__inner-text-description {
        font-size: 13px;
        font-weight: 400;
    }

    .top__inner-text {
        gap: 10px;
        margin: 20px;
    }

    .register-btn {
        width: 300px;
    }

    .note {
        font-size: 13px;
    }

    .promo-img--right {
        bottom: 255px;
    }

    .course-info {
        padding: 0 20px 0;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;

    }

    .price-block {
        grid-column: 1;
        grid-row: 1;
    }

    .timer-block {
        grid-column: 1;
        grid-row: 2;
    }

    .course-section .header__discount-circle {
        display: block;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        width: 68px;
        height: 68px;
        position: relative;
        top: 45px;
        left: 40px;
    }

    .title {
        font-size: 24px;
    }

    .item-title {
        font-size: 18px;
    }

    .cludes-list-description {
        font-size: 14px;
    }

    .cludes__inner-list {
        gap: 10px;
    }

    .cludes-list {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;

    }
    .course .course-info {
        gap: 0px;
    }
    .course .register-btn {
        width: 300px;
    }

}

@media(max-width: 360px) {
    .course-section .header__discount-circle {
        left: 18px;
    }
}